Repository orcwg/cra-hub, pull requests merged in 2025-03, with the labels that each got.

#43 Loosely organized groups of maintainers aren't stewards
  faq.md
Labels: FAQ

#89 Describe security attestation (closes #72)
  faq.md
Labels: FAQ

#161 Add caution note to FAQ tmp-1
  faq.md
Labels: FAQ

#109 Add answer to address #70 (How can I express that I am outside the scope of the CRA / Not a supplier/manufacturer/steward)
  faq.md
Labels: FAQ, input-to-deliverables, Maintainer

#62 Answer to question "What is a harmonised standard, why is it important"
  faq.md
Labels: FAQ

#164 Add document to collect WG input to draft regulation on product definitions
  README.md
  product-definitions/README.md
  product-definitions/input-to-draft-regulation.md
  product-definitions/input-to-initial-consultation-2024-09-23.pdf
  product-definitions/input-to-initial-consultation.md
  product-definitions/open-hw.png
  resources/090166e519fd0944.pdf
  resources/090166e519fd0945.pdf
  resources/README.md
  resources/Technical description of important and critical products with digital elements - Template for comments.xlsx
Labels: Critical and Important Products

#175 Add instructions to prod def input doc
  product-definitions/input-to-draft-regulation.md
Labels: Critical and Important Products

#171 Include missed changes to FAQ about hamonised standards
  faq.md
Labels: FAQ, EU legislation

#136 adding PSIRT/CSIRT details to inventory
  inventory.md
Labels: inventory

#181 Fix error in FAQ diagram
  faq.md
Labels: FAQ, CRA itself
