Repository orcwg/cra-hub, pull requests merged in 2025-09, with the labels that each got.

#255 [FAQ] Do products inherit the classification of components
  faq.md
  faq/important-and-critical-products/inheriting-product-classification.md
Labels: FAQ, Critical and Important Products

#276 Fix broken link in FAQ about solo maintainers
  faq/maintainers/solo-maintainer-steward.md
Labels: FAQ, Maintainer

#291 Improve CRA timeline
  faq/cra-itself/timeline.md
Labels: FAQ
